@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark: #1c1f21;
  --main: #2f3437;
  --gold: #e8c252;

  --invItemSize: clamp(2.5em, 10vw, 6em);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  

  background: var(--dark);
}

*{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

/* body {
  color: white;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
} */
