.inventory{
    display: grid;
    grid-template-areas:
    "title title search search"
    "prev inventory inventory next"
    "pages pages pages pages";
    align-items: center;
}

.title {
    grid-area: title;
}

.search {
    grid-area: search;
}

.prevButton {
    grid-area: prev;
}

.nextButton {
    grid-area: next;
}

.inventorySelector {
    grid-area: inventory;
}

.pages{
    grid-area: pages;
    justify-self: center;
    display: inline;
}
