.mainHeader {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.siteTitle {
  margin-top: 0.67em;
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 0.25em;
}

.links {
  margin-bottom: 0.75em;
}

.links button {
  font-size: 0.8em;
  color: white;
  background-color: transparent;
  border: 2px solid darkgray;
  margin: 0 1em;
  border-radius: 20px;
  padding: 0.5em 1.25em;
}

.links button:hover {
  border: 2px solid white;
}

@media (min-width: 44em) {
  .mainHeader {
    flex-direction: row;
  }
  .siteTitle {
    font-size: 2em;
    margin: 0.67em 1.5em;
  }
  .links {
    margin: auto 0 auto 0;
  }
  .links button {
    font-size: 1em;
  }
  .links button:last-child {
    margin: 0 3em 0em 1em;
  }
}
