.description {
  --base1: clamp(calc(var(--invItemSize) / 6),35vw, 1em);
  z-index: 6;
  position: absolute;
  pointer-events: none;
  scale: 0;
  padding: 1em 1.5em 1em 1.25em;
  width: clamp(20ch, 40vw, 50ch);
  background-color: rgba(0, 0, 0, 0.9);
  transition: scale 0.15s ease-in-out;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid #802da9;
}

.descActive.description {
  scale: 1;
}

.right {
  margin-left: calc(0.75 * var(--invItemSize));
}
.left {
  margin-right: calc(0.75 * var(--invItemSize));
  translate: translateX(-50%);
}

.right.topRow {
  transform: translateX(50%) translateY(calc(2.75 * var(--invItemSize) - 50%));
}
.left.topRow {
  transform: translateX(-50%) translateY(calc(2.75 * var(--invItemSize) - 50%));
}

.right.midRow {
  transform: translateX(50%) translateY(calc(1.75 * var(--invItemSize) - 50%));
}
.left.midRow {
  transform: translateX(-50%) translateY(calc(1.75 * var(--invItemSize) - 50%));
}

.right.bottomRow {
  transform: translateX(50%) translateY(calc(var(--invItemSize) - 50%));
}

.left.bottomRow {
  transform: translateX(-50%) translateY(calc(var(--invItemSize) - 50%));
}

.perkName {
  padding-top: 0.4em;
  font-weight: 600;
  font-size: calc(var(--base1) * 1.85);
}

.source {
  font-size: var(--base1);
  color: lightgray;
  margin-top: 0.3em;
}

.perkText {
  line-height: 1.1em;
  padding-top: 0.8em;
  font-size: calc(var(--base1) * 1.2);
  font-weight: 300;
}

.perkText br {
  margin-bottom: 0.5em;
}

.perkText ul {
  list-style-type: disc;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.perkText li {
  margin: 0.3em 0;
}
.perkText p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
