.stack {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
}
.stack > * {
  grid-area: stack;
}

.bar {
  border: none;
  margin: none;
  height: 8px;
  width: 35%;
  color: var(--dark);
  background-color: var(--dark);
}

.itemSizing {
  width: calc(0.9 * var(--invItemSize));
}

.addonSizing {
  width: calc(0.7 * var(--invItemSize));
  padding: 0.25em;
}

.ItemAddonDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc(0.2 * var(--invItemSize));
}

.slots {
  display: flex;
  align-items: center;
}
