:root {
  --invItemSize: clamp(2.5em, 10vw, 6em);
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(65, 64, 64);
  color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2.5em;
  align-items: center;
  justify-content: center;
}

.objectiveTime {
  width: 35em;
  height: 20em;
  background: darkgray;
}
.inventory {
  padding: 1em 2em;
  border-radius: 20px;
  background-color: darkgray;
  display: grid;
  grid-template-areas:
    "prev inv next"
    ". page .";
}
.page {
  grid-area: page;
  text-align: center;
}
.prevButton {
  grid-area: prev;
}

.nextButton {
  grid-area: next;
}

.perksInventory {
  min-height: calc(3 * var(--invItemSize));
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(11, calc(0.5 * var(--invItemSize)));
  grid-template-rows: repeat(4, calc(0.5 * var(--invItemSize)));
  gap: calc(0.5 * var(--invItemSize)) calc(0.25 * var(--invItemSize));
  place-items: center;
  border: 1px solid green;
}

.perk1 {
  
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.perk2 {
  
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.perk3 {
  position: relative;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.perk4 {
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.perk5 {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.stack {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;
}

.stack > * {
  grid-area: stack;
}

.perkDisplay > img {
  width: 10px;
}

.perkDisplay > .perkImg {
  width: 95%;
}

.perkDisplay > .hover {
  width: 100%;
}

.perkDescription {
  pointer-events: none;
  scale: 0;
  z-index: 1;
  position: absolute;
  width: clamp(20ch, 35vw, 40ch);
  background-color: rgba(0, 0, 0, 0.875);
  transition: scale 0.15s ease-in-out;
  border-left: 15px solid #802da9;
  padding: 1em 2em;
  border-radius: 0 10px 10px 10px;
}

.descHeader {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.source {
  margin: 0;
  margin-top: 0.25em;
  font-size: 1em;
  color: lightgray;
  padding: 0;
}
.descText {
  font-size: 1.2em;
  font-weight: 300;
}

.perk1:hover .perkDescription,
.perk1:active .perkDescription {
  scale: 1;
}
.perk2:hover .perkDescription,
.perk2:active .perkDescription {
  scale: 1;
}

.perk3:hover .perkDescription,
.perk3:active .perkDescription {
  scale: 1;
}

.perk4:hover .perkDescription,
.perk4:active .perkDescription {
  scale: 1;
}

.perk5:hover .perkDescription,
.perk5:active .perkDescription {
  scale: 1;
}

.noshow {
  display: none;
}

.topRow {
  margin-left: calc(0.75 * var(--invItemSize));
  transform: translateX(50%) translateY(calc(2.5 * var(--invItemSize) - 50%));
}

.midRow {
  margin-left: calc(0.75 * var(--invItemSize));
  transform: translateX(50%) translateY(calc(1.75 * var(--invItemSize) - 50%));
}

.botRow {
  margin-left: calc(0.75 * var(--invItemSize));
  transform: translateX(50%) translateY(calc(var(--invItemSize) - 50%));
}

.show {
  scale: 1;
}
