main {
  margin: auto;
  background-color: black;
}

.perks {
  padding: 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.perk {
  background-image: url("../assets/PurpleBackground.svg");
  box-sizing: border-box;
  transform: rotate(45deg);
  height: 256px;
  width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 1s;
}

.perk-image {
  transform: rotate(-45deg);
}

.perk:hover {
  border: 0.25em solid white;
}

.perk-background {
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  left: 0;
}

.selected {
  transition: border 1s;
}

.selected:hover {
  
  border: 0.75em double white;
}
