.perkDisplay {
  display: grid;
  background-color: rgb(123, 124, 124);
  grid-template-rows: 216px 40px 176px 40px 216px;
}

.topTrack {
  grid-row: 1/2;
  height: 256px;
  display: flex;
  align-items: center;
}

.middleTrack {
  grid-row: 2/4;
  height: 256px;
  display: flex;
  margin-left: 128px;
}

.bottomTrack {
  grid-row: 4/5;
  height: 256px;
  display: flex;
}
.perkInteractable {
  rotate: 45deg;
  scale: 0.60;
  box-shadow: 0px 15px 5px 5px rgba(0, 0, 0, 0.25);
}

.perkInteractable .hoverV2 {
  width: 105%;
  transition: opacity 0.15s ease-out;
  opacity: 0;
}

.perkInteractable:hover .hoverV2 {
  transition: opacity 0.15s ease-in;
  opacity: 1;
}

.pd2 {
  pointer-events: none;
  rotate: -45deg;
  scale: 1.42;
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 256px 1fr;
  justify-items: center;
  align-items: center;
}

.pd2 img {
  width: 100%;
  grid-area: 1 / 1;
}

.pd2 .selectedV2{
    transition: scale 0.1s ease-in-out;
    width: 110%;
    z-index: -1;
}

.perkInteractable:hover .selectedV2{
    transition: scale 0.1s ease-in-out;
    scale: 1.05;
}