.loadoutContainer {
  background: var(--main);
  padding: 1.5em 2em;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

hr {
  border: none;
  margin: auto;
  width: 95%;
  height: 4px;
  color: var(--dark);
  background-color: var(--dark);
}

.sectionTitle {
    font-size: 1.5em;
    text-align: center;
}