header {
  background: #2f3437;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

#webTitle {
  padding: 1em 0.5em 1em 1.75em;
}

#navButtons button {
  color: lightgray;
  font-size: 1em;
  background-color: #1c1f21;
  border: none;
  border-radius: 25px;
  padding: 0.75em 1.25em;
  margin: 0.25em;
  border: 0.25em solid transparent;
  transition: all 0.05s ease-in;
}
#navButtons button:hover {
  background-color: white;
  color: black;
  border: 0.25em solid rgb(0, 0, 0);
}
#navButtons button:active {
  background-color: #8a8a8a;
  color: white;
}